ion-content {
    h2{
        text-shadow: 0 0 4px #fff;
    }
    p{
        color: #fff;
    }
    .item-1{
        --background: url('/assets/img/blue-purple-bg.png');
    }
    .item-2{
        --background: url('/assets/img/purple-bg.png');
    }
    .item-3{
        --background: url('/assets/img/green-blue.png');
    }
    .item-4{
        --background: url('/assets/img/orange-pink.png');
    }
}

