<app-header titol="llistat" bgcolor="secondary"></app-header>

<ion-content>
  <ion-list>
    <div *ngFor="let mg of mangas; let i=index">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteManga(mg.id)">
            Delete
          </ion-item-option>
        </ion-item-options>
        <ion-item routerLink="/detail/{{i}}">
          
        <!-- <ion-avatar slot="start">
          <img src="./assets/img/{{es.img}}">
        </ion-avatar> -->
          <ion-label>
            <h2>Nom manga: {{mg.nom}}</h2>
            <p>Autor: {{mg.autor}}</p>
            <p>Categoria: {{mg.categoria}}</p>
            <p>Volum: {{mg.volum}}</p>
            <img src="{{mg.imatge}}">
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="tertiary" expandable>
            Archive
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      </div>
  </ion-list>
</ion-content>
