<ion-header>
  <ion-toolbar>
    <ion-title>llistat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item style="--background: url('/assets/img/bg-naruto.png') no-repeat 0% 10%;">
      <ion-avatar slot="start">
        <img src="../../assets/img/naruto.png">
      </ion-avatar>
        <ion-label>
          <h2>Naruto</h2>
          <p>Shonen</p>
          <p>Masashi Kishimoto</p>
          <p>01</p>
        </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/naruto.png">
      </ion-avatar>
        <ion-label>
          <h2>Naruto</h2>
          <p>Shonen</p>
          <p>Masashi Kishimoto</p>
          <p>01</p>
        </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/naruto.png">
      </ion-avatar>
        <ion-label>
          <h2>Naruto</h2>
          <p>Shonen</p>
          <p>Masashi Kishimoto</p>
          <p>01</p>
        </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/naruto.png">
      </ion-avatar>
        <ion-label>
          <h2>Naruto</h2>
          <p>Shonen</p>
          <p>Masashi Kishimoto</p>
          <p>01</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
