<ion-header>
  <ion-toolbar>
    <ion-title>llistat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="item-1">
      <ion-avatar slot="start">
        <img src="../../assets/img/naruto.png">
      </ion-avatar>
        <ion-label>
          <h2>Naruto</h2>
          <p>Shonen</p>
          <p>Masashi Kishimoto</p>
          <p>01</p>
        </ion-label>
    </ion-item>
    <ion-item class="item-2">
      <ion-avatar slot="start">
        <img src="../../assets/img/magi-tomo-01.png">
      </ion-avatar>
        <ion-label>
          <h2>Magi</h2>
          <p>Shonen</p>
          <p>Shinobu Ohtaka</p>
          <p>01</p>
        </ion-label>
    </ion-item>
    <ion-item class="item-3">
      <ion-avatar slot="start">
        <img src="../../assets/img/one-piece-01.png">
      </ion-avatar>
        <ion-label>
          <h2>One piece</h2>
          <p>Shonen</p>
          <p>Eiichirō Oda</p>
          <p>01</p>
        </ion-label>
    </ion-item>
    <ion-item class="item-4">
      <ion-avatar slot="start">
        <img src="../../assets/img/tate-no-yuusha.png">
      </ion-avatar>
        <ion-label>
          <h2>Tate no yuusha</h2>
          <p>Shonen</p>
          <p>Aneko Yusagi</p>
          <p>01</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
