<app-header titol="formulari" bgcolor="secondary"></app-header>

<ion-content class="bg-formulari">
  <ion-content class="formulari">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nom" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input [(ngModel)]="autor" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input [(ngModel)]="categoria" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">volum</ion-label>
      <ion-input [(ngModel)]="volum" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <input type="file" [(ngModel)]="imatge" (change)="selectedFile($event)" />
   </ion-item>
    <ion-button type="button" (click)="addManga()">Add Manga</ion-button>
  </ion-content>
  <ion-content class="addMangaTuto">
    <ion-item>
      <ion-label>
        <h2>Añade un Manga!!</h2>
        <ul>
          <li>Tienes que rellenar los campos con los datos que se te pide.</li>
          <li>Elijes la portada del maga a añadir.</li>
          <li>Y listo añadido a tu lista de magas!!</li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-content>
