<ion-content>
  <div id="logo"><img src="./assets/slider/logo_manga.png"/></div>
  

  <ion-slides id="slides_bg" pager="true">
    <ion-slide id="slides" style="width: 500px;">
        <img src="./assets/slider/BNHA.png"/>
    </ion-slide>
    <ion-slide id="slides">
      <img src="./assets/slider/drStone.png"/>
    </ion-slide>
    <ion-slide id="slides">
      <img src="./assets/slider/Kimetsu_no_Yaiba.png"/>
    </ion-slide>
    <ion-slide id="slides">
      <img src="./assets/slider/magi.png"/>
    </ion-slide>
    <ion-slide id="slides">
      <img src="./assets/slider/naruto.png" />
    </ion-slide>
    <ion-slide id="slides">
      <img src="./assets/slider/shuumatsu_no_valkyrie.png" />
      <ion-button class="btn_inc" routerLink="/inici">
        <ion-icon class="icon_next" name="play-forward-outline"></ion-icon>
      </ion-button>
    </ion-slide>
  
  </ion-slides>

</ion-content>
